.height-100 {
  height: 100%;
}
.height-120 {
  height: 120px !important;
}
.bg-lichat {
  background: #13946b;
}
.bg-white {
  background: white;
}
.lichat-header {
  background-image: url("../img/header.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  position: relative;
}
.lichat-content {
  position: relative;
}
.padding-none {
  padding: none;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-20 {
  padding-top: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.welcome-bar {
  background: #e9faf5;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px;
}
.profile-picture {
  width: 90px;
  height: 90px;
}
.profile-picture img {
  width: 100%;
  height: 100%;
  padding: 0 px;
  margin: 0 px;
}
.back-button {
  padding-top: 5px;
  cursor: pointer;
}
.cursor-pointer {
  cursor: pointer;
}
.text-decoration-none a:link {
  text-decoration: none;
}
.text-decoration-none a:visited {
  text-decoration: none;
}
.text-decoration-none a:hover {
  text-decoration: none;
}
.text-decoration-none a:active {
  text-decoration: none;
}
.choose-picture {
  margin-top: 10px;
  text-align: center;
  height: 100px;
}
.choose-picture img {
  width: 90px;
  height: 90px;
  cursor: pointer;
}
.choose-theme-picture {
  margin-top: 10px;
  text-align: center;
  height: 35px;
}
.choose-theme-picture img {
  cursor: pointer;
}
.user-picture {
  margin-top: 10px;
  text-align: center;
  height: 120px;
}
.user-picture img {
  width: 90px;
  height: 90px;
  cursor: pointer;
}
.selected-picture {
  border: 2px solid #36dfa9;
}
.transition-1 {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.theme-table img {
  float: left;
}
.theme-table p {
  padding-top: 8px;
}
.theme-table td p {
  color: #669;
}
.theme-table td i {
  color: grey;
}
.theme-table td a p {
  color: #055283;
}
.theme-table tr {
  background: #D5F7D7;
}
.theme-table tr:hover {
  background: #a5e6a9;
}
.theme-table th {
  background: #95db9a;
}
.resize-none {
  resize: none;
}
.text-grey {
  color: grey;
}
.line-height-0 {
  line-height: 0px;
}
.line-height-10 {
  line-height: 10px;
}
.message-board {
  padding-top: 10px;
  vertical-align: text-bottom;
  height: 400px;
  overflow-y: scroll;
}
.online-board {
  height: 400px;
  overflow-y: auto;
}
.overflow-scroll {
  overflow-y: scroll;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow-y: auto;
}
.message-loader img {
  width: 60px;
}
.fade-in {
  -webkit-animation: 0.8s fade_animation;
  -moz-animation: 0.8s fade_animation;
  -o-animation: 0.8s fade_animation;
  animation: 0.8s fade_animation;
}
.word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
@keyframes fade_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */