<div class="row">
    <div class="col-xs-12 col-sm-10 col-lg-8 col-sm-offset-1 col-lg-offset-2">
        <h2>Register:</h2>
        <form role="form">
            <div class="form-group">
                <label for="username-input">Enter your username: </label>
                <input id="username-input" type="text" placeholder="Username" class="form-control" data-ng-model="registerInfo.username">
            </div>
            <div class="form-group">
                <label for="email-input">Enter your email: </label>
                <input id="email-input" type="email" placeholder="Email" class="form-control" data-ng-model="registerInfo.email">
            </div>
            <div class="form-group">
                <label for="password-input">Password</label>
                <input id="password-input" type="password" placeholder="Password" class="form-control" data-ng-model="registerInfo.password">
            </div>
            <button type="submit" class="btn btn-default" ng-click="registerUser()">Register</button><br/>
        </form>
        <p class="text-warning padding-top-20">{{registerResponse}}</p>
        
    </div>
</div>