<div class="row">
    <welcome></welcome>
    <back></back>
    <div class="col-xs-12">
        <h2>{{username}}</h2>
        <p class="padding-top-10">Profile picture:</p>
        <div class="profile-picture"><img src="{{pictureUrl}}" alt="profile picture" /></div>
        <changepicture ng-show="changePictureShow"></changepicture>
        <p class="padding-top-10">Level: <strong>{{level}}</strong></p>
        <p class="padding-top-10">Last visit: <strong>{{lastVisit}}</strong></p>
        <changepassword ng-show="changeShow"></changepassword>
    </div>
</div>
